main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.exercises-container {
  width: 90vw;
  min-height: 90vh;
  background-color: #fcf7e3c5;
  box-shadow: 0.2px 0px 2px rgba(255, 255, 255, 0.49);
  margin: auto;
  margin-top: 1.5rem;
}

.cards-container {
  border-radius: 10px;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
