.page-icon-container {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
